
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;

    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Gaegu', cursive;
    font-size: medium;
    color: #415d61;
    background-color: #e7ceaf;
  }

  .header {
    text-align: center;
    color: whitesmoke;
    padding: 30px;
  }

  section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .varietyHerbs {
    max-width: 850px;
    margin-bottom: 30px;
    border: 2px white solid;
    border-radius: 10px;
    opacity: 80%;
  }

  .header li {
    display: inline-block;
    margin: 1px;
    list-style: none;
    font-size: 1px;
  }

  .start-quiz-box,
  .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1px;
  border: 0.1px #96a49e solid;
  background-color: #e7ceaf;
  color: ghostwhite;
  font-size: large;
}

label {
    display: block;
    margin-bottom: 1px;
    padding: 1px;
    cursor: pointer;
}

.images {
  margin-bottom: 1px;
  width: 90%;
  max-width: 240px;
}

h1 {
  padding: auto;
}

h2,
h3,
legend {
  margin-bottom: 20px;
}

.answerOption {
  margin-top: 1px;
}
.images {
  margin-bottom: 0.5px;
  width: 90%;
  max-width: 240px;
}

button {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  cursor: pointer;
  font-family: 'Gaegu', cursive;
  font-size: 20px;
  border: 0.1px #96a49e solid;
  border-radius: 10px;
  background-color: #96a49e;
  color: #ffffff;
}

button:hover,
button:active {
  background-color: #849c91;
  color: #a7bbb2;
  border: 0.1px #849c91 solid;
}

.final {
  display: block;
}

.results {
  display: block;
}

.feedback, h3 {
  text-align: center;
  color: #415d61;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    /* outline: 3px solid #f00; */
    box-shadow: 0 0 3pt 2pt red;
  }






/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
section.questions ul.options li {
    display: inline-block;
    width: 28%;
    padding-left: 1%;
}
section.questions ul.options li img {
    width: 100%;
    max-width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

section.questions .questions-form {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section ul.totalQuestions {
    display: block;
    font-family: 'Gaegu' cursive;
    text-align: center;
    color: #082913;
}

section ul.totalQuestions li.sizeMe {
  display: inline;
  padding: 70px 100px;
  font-size: 18px;
}

section.intro ul.totalQuestions img.varietyHerbs {
    max-width: 100%;
    padding: 30px 80px;
    border-radius: 10px;
    border: 2px black solid;
}

section.feedback .failure,
section.feedback .success {
  display: block;
  font-family: 'Gaegu' cursive;
  text-align: center;
  color: #082913;
  border: 1px solid lime;
  padding: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section.feedback .failure {
  color: red;
  border: 1px red solid;
}

section.results {
  display: block;
  font-family: 'Gaegu' cursive;
  text-align: center;
  color: #082913;
}

section.results img.finalImg {
  border-radius: 10px;
}
/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
}


/* -------------------------------------
Responsive styles
*/

/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        color: purple;
    }
}

/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
}

/*Android landscape*/
@media only screen and (min-width: 640px) {
    body {
        color: brown;
    }
    
    section.questions ul.options li img {
      max-width: 300px;
      height: 150px;
    }

}

/*iPad potrait*/
@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
    section.questions ul.options li img {
      max-width: 400px;
      height: 200px;
    }
}

/*iPad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    body {
        color: blue;
    }
    

}

/*large desktop*/
@media only screen and (min-width: 1600px) {
    body {
        color: yellow;
    }
}